/* setting body tag's style */
body{
    margin: 0%;
    padding: 0%;
    
    background:url("../images/BACKGROUND.jpg")  no-repeat;
    background-size: cover;
    /* display: grid;
    align-items: center;
    /* /* justify-content: center; */
    /* height: 100vh; 
    background-size: 100%; */ 
}

/* heading fonts */
.headfonts{
     font-family: 'Montserrat', sans-serif;
     color: #2c1810;
}

/* paragraph fonts */
.parafonts{
   font-family: 'Libre Caslon Text', serif;
    color: #2c1810;
}
/* defining diffrent font sizes */
.fontSmall{
    font-size: small;
}

.fontMedium{
    font-size: medium;
}

.fontLarge{
    font-size: large;
}

.fontXLarge{
    font-size:x-large;
}
/* .container-fluid{
    width: 90%;
    height: 90vh;
    box-shadow: 0 10px 20px #2c181077, 0 6px 6px #2c181077; 
    /* border-radius: 5px; */
    /* background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
} */ 

/* section part style */
section{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-content: center;
    
}
section img{
    width: 100%;

}